@model RMSCORE.EF.User
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>careersatBestwayCementLtd.</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="~/Theme/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/plugins/loaders/blockui.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/plugins/ui/nicescroll.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/plugins/ui/drilldown.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="~/Theme/assets/js/core/app.js"></script>
    <!-- /theme JS files -->

</head>

<body class="login-container">

    <!-- /main navbar -->
    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Simple login form -->
                <form action="~/Home/ChangePass" enctype="multipart/form-data" method="post">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="col-md-12">
                        <div class="panel panel-body login-form">
                            <div class="text-center">
                                <img src="~/Theme/assets/images/bcl_logo_final.png" height="100" />
                                <h5 class="content-group text-bold">Password Change <small class="display-block"></small></h5>
                            </div>

                            <div class="form-group has-feedback">
                                <label class="text-semibold">Enter New Password</label>
                                <input type="password" Class="form-control" id="newPassword" name="newPassword" placeholder="New Password"/>
                                <div class="form-control-feedback">
                                    <i class="icon-lock4 text-muted"></i>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="text-semibold">Retype-new Password</label>
                                <input type="password" Class="form-control" id="ConfirmnewPassword" name="ConfirmnewPassword" placeholder="Confirm New Password" />
                                <div class="form-control-feedback">
                                    <i class="icon-lock4 text-muted"></i>
                                </div>
                                <span id="message"></span>
                            </div>
                            <button type="submit" class="btn bg-blue btn-block">Change password <i class="icon-arrow-right14 position-right"></i></button>
                        </div>
                    </div>
                </form>
                <!-- /simple login form -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->
    <!-- Footer -->
    <div class="footer text-muted text-center">
        &copy; 2018. <a href="#">Recruitment Management System</a> by <a href="http://cns.com.pk" target="_blank">Computer & Networking Services</a>
    </div>
    <!-- /footer -->

</body>
</html>
<script>
    $('#newPassword, #ConfirmnewPassword').on('keyup', function () {
        if ($('#newPassword').val() == $('#ConfirmnewPassword').val()) {
            $('#message').html('Matching').css('color', 'green');
        } else
            $('#message').html('Not Matching').css('color', 'red');
    });
</script>

