@{
    ViewBag.Title = "Contact";
}
<!-- /page header -->
<!-- Page container -->
<div class="page-container">
    <!-- Page content -->
    <div class="page-content">
        <!-- Main content -->
        <div class="content-wrapper">
            <div class="text-center">
                <h1><span class="text-semibold text-grey ">For Support:</span></h1>
            </div>
            <address class="h3 text-center">
                Bestway Cement Limited,
                Bestway Building,
                19-A, College Road,<br />
                F-7 Markaz,
                Islamabad, 44000. Pakistan.<br />
                <strong>Phone #:+92 (051)- 2654856 EXT (204,411)</strong><br />
                <strong>Email:</strong> &nbsp; <a href="#">careers@bestway.com.pk</a><br />
            </address>
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->
</div>