@{
    ViewBag.Title = "Contact";
}
<div class="page-header">
    <div class="page-header-content">
        <div class="page-title" style="margin-left:10px">
            <h1><span class="text-semibold text-grey">For Support:</span> </h1> <h5 class="text-semibold text-grey-800">Please Contact on bellow numbers.</h5>
        </div>
    </div>
</div>
<!-- /page header -->
<!-- Page container -->
<div class="page-container">
    <!-- Page content -->
    <div class="page-content">
        <!-- Main content -->
        <div class="content-wrapper">
            <div class="row">
               <i class="glyphicon glyphicon-earphone"></i> 
            </div>
            <address>
                Bestway Cement Limited,
                Bestway Building,
                19-A, College Road, F-7 Markaz,
                Islamabad, 44000. Pakistan.
            </address>

            <address>
                <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
            </address>
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->
</div>