@{
    ViewBag.Title = "Confirm Email";
    Layout = null;
}
<div class="navbar navbar-inverse bg-primary">
    <div class="navbar-header">
        <div style="padding-left:20px; padding-top:10px;">
            <a><img src="~/Theme/assets/images/bcl_logo_final.png" height="30" /></a>
            <span class="h6 text-bold" style="padding-left:10px;"> careersatBestwayCementLtd.</span>
        </div>
    </div>
</div>
<div>
    <p>
        An Email has been sent to you email address Kindly Open it and Verify you email. Back To @Html.ActionLink("Login", "Login", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>

