@model IEnumerable<RMSCORE.EF.User>
@{
    ViewBag.title = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>careersatBestwayCementLtd.</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="~/Theme/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/plugins/loaders/blockui.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/plugins/ui/nicescroll.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/plugins/ui/drilldown.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="~/Theme/assets/js/core/app.js"></script>
    <!-- /theme JS files -->

</head>

<body class="login-container login-cover login-form">

    <!-- /main navbar -->
    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Simple login form -->
                <form action="~/Home/Login" enctype="multipart/form-data" method="post">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="panel panel-body login-form">
                        <div>
                            <img src="~/Theme/assets/images/bcl_logo_final.png" class="center-block" height="70" />
                            <h3 class="content-group text-center text-blue-300 text-black">BestwayCementLtd.<small class="display-block text-white text-bold">Enter your credentials below</small></h3>
                            <div class="form-group has-feedback has-feedback-left">
                                <input type="text" id="UserName" name="UserName" class="form-control" placeholder="Username">
                                <div class="form-control-feedback">
                                    <i class="icon-user text-blue"></i>
                                </div>
                            </div>

                            <div class="form-group has-feedback has-feedback-left">
                                <input type="password" id="Password" name="Password" class="form-control" placeholder="Password">
                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-blue"></i>
                                </div>
                                <a href="~/Home/ForgetPassword"><strong class="text-black">Forgot Password?</strong> </a>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">Sign in <i class="icon-circle-right2 position-right"></i></button>
                            </div>

                            <div class="text-left">
                                <span class="text-black">New User ?</span> <a href="~/Home/RegisterUser"><strong class="text-black text-bold">Register</strong></a>

                            </div>
                        </div>
                    </div>
                </form>
                <!-- /simple login form -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->
    <!-- Footer -->
    <div class="footer text-muted text-center">
        &copy; 2018. <a href="#" class="text-white">Recruitment Management System</a> by <a href="http://www.bestway.com.pk/" target="_blank" class="text-white text-bold">Bestway Cement Limited.</a>
    </div>
    <!-- /footer -->
</body>
</html>