
@{
    ViewBag.Title = "Index";
}

<h2>Instruction</h2>
<h4 class="text-bold text-center">
    Go to  @Html.ActionLink("Profile", "Index", "Candidate", routeValues: null, htmlAttributes: new { id = "loginLink" })
</h4>
