
@{
    ViewBag.Title = "Index";
}

<h2 class="text-semibold" style="margin-left:10px">Guidelines:</h2>
<ul>
    <li>
        <span class="text-semibold">Disclaimer:</span>
        <div>
            <p>
                Any information provided here will be treated as confidential.The contents of this website are subject to confirmation and not binding. The author expressly reserves the right to alter, amend or remove pages, whole and in part, without prior notice or to discontinue publication for a period of time or even completely.
            </p>
        </div>
    </li>
    <br />
    <li>
        If you have any problem completing your profile please contact the Human Resources Department at
        <span class=""></span>+92-(051)-2654856 EXT (204,411)
        <span class="">UAN: </span> +92-(051)-111-111-722
        <span class="">from </span>Monday to Friday (0930AM-0600PM)
        <span class="text-center">or</span>
        <span class="">email us at </span> careers@bestway.com.pk.
    </li>
    <br />
    <li>
        You may also wish to submit your CV, please note that it would still be necessary to complete your profile.
    </li>
    <br />

    <li>
        <span class="text-semibold">Disability:</span><br />
        <div>
            <p>
                A disability is a permanent physical, mental or sensory condition. The disability must be substantial rather than slight, and permanent in that it is seldom fully corrected by medical replacement, therapy,
                or surgical means. This confidential information is solicited only to ensure compliance with our policy of providing equal opportunities to all prospective candidates. It should not be construed and will not be considered as a request for accommodation.
            </p>
        </div>
    </li>

    <br />
    <li>
        <span class="text-semibold">Gross Salary:</span><br />
        <div>
            <p>
                Means salary before deduction of any taxes or contributions (e.g. EOBI etc.) and excluding
                any other monetary/non-monetary perquisites and benefits (e.g. bonuses, gratuity, medical insurance, life insurance, company maintained vehicle, paid leave, etc.)
            </p>
        </div>


    </li>
</ul>
@*<h3 class="text-center text-semibold">Test run</h3>*@
<h6 class="text-bold text-center">
    If you have read the above guidelines, please complete your profile. @*@Html.ActionLink("Profile", "Index", "Candidate", routeValues: null, htmlAttributes: new { id = "loginLink" })*@
</h6>
