<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
  <!--<add name="BTRMSEntities" connectionString="metadata=res://*/EF.RMSDataModel.csdl|res://*/EF.RMSDataModel.ssdl|res://*/EF.RMSDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ANEES-PC\MSSQLSERVER17;initial catalog=BTRMS;user id=sa;password=Cns123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="BTRMSEntities" connectionString="metadata=res://*/EF.RMSDataModel.csdl|res://*/EF.RMSDataModel.ssdl|res://*/EF.RMSDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.227.0.46;initial catalog=BTRMS;user id=sa;password=Bcl@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>