<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Careers&nbsp;at&nbsp;Bestway&nbsp;Cement&nbsp;Limited</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <link rel="stylesheet" href="~/Content/bootstrap-datepicker3.css" />
    <!-- Core JS files -->
    <script type="text/javascript" src="~/Theme/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/core/libraries/jquery.min.js"></script>
    @*<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>*@
    <script type="text/javascript" src="~/Theme/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/plugins/loaders/blockui.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/plugins/ui/drilldown.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="~/Theme/assets/js/plugins/tables/datatables/datatables.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/plugins/forms/selects/select2.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/plugins/notifications/pnotify.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/plugins/notifications/noty.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/plugins/notifications/jgrowl.min.js"></script>
    @*<script type="text/javascript" src="~/Theme/assets/js/plugins/ui/ripple.min.js"></script>*@
    <script type="text/javascript" src="~/Theme/assets/js/plugins/ui/nicescroll.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/plugins/forms/styling/uniform.min.js"></script>

    <script type="text/javascript" src="~/Theme/assets/js/core/app.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/pages/datatables_basic.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/pages/form_inputs.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/pages/job_list.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/pages/components_notifications_other.js"></script>

    <script type="text/javascript" src="~/Scripts/bootstrap-datepicker.min.js"></script>

    <!-- /theme JS files -->

</head>
<body class="navbar-top-md-md">
    <!-- Fixed navbars wrapper -->
    <div class="navbar-fixed-top">
        @{RMSCORE.EF.V_UserCandidate LoggedInUser = (RMSCORE.EF.V_UserCandidate)HttpContext.Current.Session["LoggedInUser"];
            <!-- Main navbar -->
            <div class="navbar navbar-inverse bg-grey">
                <div class="navbar-header">
                    <div style="padding-left:20px; padding-top:10px;">
                        <a><img src="~/Theme/assets/images/bcl_logo_final.png" height="38" style="padding-bottom:6px" /></a>
                        @*    <a><img class="logo-main scale-with-grid" src="~/Theme/assets/images/bcl_logo_final.png" /></a>*@
                        <span class="h5 text-bold" style="padding-left:0px;">Careers&nbsp;at&nbsp;Bestway&nbsp;Cement&nbsp;Limited</span>
                    </div>
                </div>

                <div class="navbar-collapse collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav navbar-right">
                        @*<li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="icon-bubbles4"></i>
                                    <span class="visible-xs-inline-block position-right">Notifications</span>
                                    <span class="badge bg-warning-400" id="divNotificationCount"></span>
                                </a>

                                <div class="dropdown-menu dropdown-content">
                                    <div class="dropdown-content-heading">
                                        System Notifications
                                    </div>

                                    <ul class="media-list dropdown-content-body width-350">
                                        <li id="DivNotifications"></li>
                                    </ul>

                                    <div class="dropdown-content-footer">
                                        <a href="#" data-popup="tooltip" title="" data-original-title="All activity"><i class="icon-menu display-block"></i></a>
                                    </div>
                                </div>
                            </li>*@
                        <li class="dropdown dropdown-user">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                <img height="30" class="img-circle" src="~/Candidate/RetrieveImage/@LoggedInUser.CandidateID" />
                                <span>@LoggedInUser.CName</span>
                                <i class="caret"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="~/Candidate/Index"><i class="icon-user-plus"></i> My Profile</a></li>
                                <li><a href="~/Home/ChangePass"><i class="icon-cog5"></i> Change Password</a></li>
                                @*<li><a href="~/Home/Contact"><i class="glyphicon glyphicon-earphone"></i>Contact Us</a></li>*@
                                <li><a href="~/Home/LogOut"><i class="icon-switch2"></i> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /main navbar -->
            <!-- Second navbar -->
            <div class="navbar navbar-default" id="navbar-second">
                <ul class="nav navbar-nav no-border visible-xs-block">
                    <li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle"><i class="icon-menu7"></i></a></li>
                </ul>

                <div class="navbar-collapse collapse" id="navbar-second-toggle">
                    <ul class="nav navbar-nav">
                        <li><a href="~/Job/Index"><i class="icon-display4 position-left"></i>Job Dashboard</a></li>
                        <li><a href="~/Candidate/Index"><i class="icon-profile position-left"></i> Profile</a></li>
                        <li><a href="~/Job/JobApply"><i class="icon-keyboard position-left"></i> Applied Jobs</a></li>
                        <li><a href="~/Instruction/Index"><i class="icon-help position-left"></i>Help</a></li>
                        @if (LoggedInUser.HasAccess == true)
                        {
                            <li><a href="~/Admin/Index"><i class="icon-profile position-left"></i> User</a></li>
                        }
                    </ul>

                </div>
            </div>
            <!-- /second navbar -->
        }
    </div>
    @RenderBody()
</body>
</html>
<!-- Footer -->
@*<div class="footer text-muted">
        &copy; 2018. <a href="#">Recruitment Management System</a> by <a href="http://cns.com.pk" target="_blank">Computer & Networking Services</a>
    </div>*@
<!-- /footer -->
<script src="~/Scripts/Candidate/NotificationManager.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //CheckSession();
        // OpenNotification();
    });
</script>

