@model List<RMSCORE.EF.V_Interview>
<!-- Page container -->
<div class="page-container">
    <!-- Page content -->
    <div class="page-content">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Basic datatable -->
            <div class="panel panel-flat">
                <div class="breadcrumb-line bg-success-400">
                    <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
                    @*<ul class="breadcrumb-elements">
                        <li><a href="#" id="EduGetCreate"><i class="icon-add position-left"></i> Add New Detail</a></li>
                    </ul>*@
                </div>
                <table class="table datatable-basic ">
                    <thead>
                        <tr class="">
                            <th style="width:90px">
                                Interview title
                            </th>
                            <th>
                                Job Title
                            </th>
                            <th>
                                Start Date
                            </th>
                            <th>
                                Start Time
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.JobTitle)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.StartDate)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.StartTime)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/Candidate/NotificationManager.js"></script>


