@model RMSCORE.EF.Candidate
@{
    ViewBag.title = "Index details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <style>
        #hv :hover{
            color:white;
            background-color:dodgerblue
                
        }
    </style>
</head>
<div class="page-container">
    <!-- Page content -->
    <div class="page-content">
        <!-- Main sidebar -->
        <div class="sidebar sidebar-main sidebar-default sidebar-separate">
            <div class="sidebar-content">
                <!-- User details -->
                <div class="panel panel-white">
                    <div class="panel no-border-top no-border-radius-top">
                        <div class="panel-body">
                            <section>
                                <div class="form-group">
                                    <img src="~/Candidate/RetrieveImage/@Model.CandidateID"class="img-circle" id="dbImage" width="200" height="200" style="margin-left:10px; margin-top: 0px" />
                                    <div style="padding:10px;margin-left:53px ">
                                        <div tabindex="500" class="btn btn-xs btn-file bg-green-600">
                                            <i class="icon-file-plus"></i>  <span>Browse</span>
                                            <input type="file" class="file-input" id="imgupload" onchange="fileCheck(this);" value="Open" data-browse-class="btn btn-primary btn-xs" data-show-caption="false" data-remove-class="btn btn-default btn-xs" data-show-upload="false" />
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <ul class="navigation">
                                <li id="hv" onclick="CandidateGetCreate()"><a href="#" class="btn btn-block bg-green-800 text-bold text-white"><i class="icon-person"></i>Personal Detail</a></li>
                                <li id="hv" onclick="LoadPVEduDetailIndex(@Model.CandidateID)"><a href="#" class="btn btn-block bg-green-800 text-bold text-white"><i class="icon-book"></i>Educational Detail</a></li>
                                <li id="hv" onclick="LoadPVSkillDetailIndex(@Model.CandidateID)"><a href="#" class="btn btn-block bg-green-800 text-bold text-white"><i class="glyphicon glyphicon-wrench"></i>Skills</a></li>
                                <li id="hv" onclick="LoadPVExperienceDetailIndex(@Model.CandidateID)"><a href="#" class="btn btn-block bg-green-800 text-bold text-white"><i class="glyphicon-export"></i>Experience</a></li>
                                <li id="hv" onclick="CompensationGetCreate()"><a href="#" class="btn bg-green-800 text-bold text-white"><i class="glyphicon-export"></i>Compensation</a></li>
                                <li id="hv" onclick="LoadPVReferenceDetailIndex(@Model.CandidateID)"><a href="#" class="btn btn-block bg-green-800 text-bold text-white"><i class="glyphicon-export"></i>Reference</a></li>
                                <li id="hv" onclick="MiscellaneousGetCreate()"><a href="#" class="btn btn-block bg-green-800 text-bold text-white"><i class="glyphicon-export"></i>Miscellaneous</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main content -->
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-12" id="PartialViewContainer"></div>
            </div>
        </div>
        <!-- /page content -->
    </div>
</div>
<div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="modelBody">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/Candidate/PersonalDetail.js"></script>
<script type="text/javascript" src="~/Scripts/Candidate/EduDetail.js"></script>
<script type="text/javascript" src="~/Scripts/Candidate/SkillDetail.js"></script>
<script type="text/javascript" src="~/Scripts/Candidate/Experience.js"></script>
<script type="text/javascript" src="~/Scripts/Candidate/Miscellaneous.js"></script>
<script type="text/javascript" src="~/Scripts/Candidate/Reference.js"></script>
<script type="text/javascript" src="~/Scripts/Candidate/Compensation.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        CandidateGetCreate();
    });
    function fileCheck(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#dbImage')
                    .attr('src', e.target.result)
                    .width(200)
                    .height(200);
                document.getElementById("dbImage").style.marginTop = "20px";
                document.getElementById("dbImage").style.marginLeft = "30px";
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>